body {
  margin: 0;
  font-family: "Patrick Hand", sans-serif;
  background-color: black;
  font-size: 22px;
  text-align: center;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navBar {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
}

a {
    color: white;
}

a:hover {
    color: orangered;
}

.company {
  background-image: url("https://www.elcbrands.com/media/looneytunes1.jpg");
  height: 350px;
}

.compContent {
  margin: auto;
  width: 100%;
  color: black;
}

.portfolioBox {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contents {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.contents img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: auto;
}

.contents span {
    padding: 5px;
    min-width: 150px;
    margin-top: 15%;
    font-weight: 600;
}

.teamBox {
    display: flex;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fcabcd83-e213-46ae-a932-49a7f8ecdf7c/deporz7-11d17976-7f29-4185-9285-58b58899a15e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZjYWJjZDgzLWUyMTMtNDZhZS1hOTMyLTQ5YTdmOGVjZGY3Y1wvZGVwb3J6Ny0xMWQxNzk3Ni03ZjI5LTQxODUtOTI4NS01OGI1ODg5OWExNWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.VSNEy_LRdcR_B77Sqb5KeJfaRG3NrlrlT4WPTh2OvLc");
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}

.teamBox h2 {
  width: 100%;
  font-size: 25px;
  padding: 15px;
}

.teamMember {
    padding: 10px;
    color: white;
    flex-basis: 280px
}

.contact {
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}